@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #b7cedb;
  --foreground: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #b7cedb;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  padding: 10px 30px;
  background-color: none;
  outline: rgb(250, 255, 250) 2px solid;
  width: fit-content;
  &:hover {
    color: var(--background);
    background-color: var(--foreground);
  }
}

.iwatch_header {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.apple_icom {
  font: 50px;
}

.place_holder {
  background-color: red;
  width: 300px;
  height: 300px;
}

ul {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  font-size: 20px;

  & li {
    display: grid;
    place-content: center;
  }

  & section li a:hover {
    color: var(--background);
  }
}
