@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #b7cedb;
  --foreground: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #b7cedb;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  padding: 10px 30px;
  background-color: none;
  outline: rgb(250, 255, 250) 2px solid;
}
